main{
  text-align: center;
  font-family: sans-serif;
}

h1{
  background: blue;
  color: yellow;
  border-radius: 25px;
}

input{
  background: grey;
  color: yellow;
  font-size:25px;
}

input[type="submit"]{
  background: red;
  color: white;
  border-radius: 25px;
  margin: 15px;
  font-size:15px;  
  padding: 15px;
}

input[type="checkbox"]{
  background: #000;
  font-size: 25px;
}

#salida{
  opacity:0;
}